<div class="text-center">
    <h1>Welcome to the bowling league website!</h1>

    <img src="~/img/wii_bowling.jpg" width="800" />
    <br />
    <p>View, edit, add, and delete bowlers on the "Bowler" page of the website.</p>

    <a class="btn btn-lg btn-primary" href="/bowlers">View Bowlers</a>
</div>
