<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(BowlersLayout)">
        </RouteView>
    </Found>
    <NotFound>
        <h1>No Matching Route Found</h1>
    </NotFound>
</Router>